@font-face{
    src: url('..//fonts/IBMPlexSerif-Regular.ttf');
    font-family: 'IBMPlex Regular',
}

@font-face{
    src: url('..//fonts/Slabo27px-Regular.ttf');
    font-family: 'Slabo Regular',
}
body{
    font-family: 'IBMPlex Regular', Helvetica, Arial;
}
html{
    background-color:rgb(208, 208, 208);
}
.main{
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.left{
    width: 300px;
    flex: 0;
}
.me_inf{
    font-family: 'Slabo Regular', Helvetica, Arial;
    border-left: 3px solid black;
    padding-left: 5px;
    display: flex;
    align-items: center;
    color: grey;
}
.href{
    border-bottom:3px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
}
a{
   padding: 10px;
   color: grey;

}
a:hover{
color: black;
}
.imga{
    border: 3px solid black;
    width: 250px;
}

.contact_icon{
    margin-right: 15px;
}

.picture{
    background-color: rgb(214, 214, 214);
    cursor: grab;
    display: flex;
    flex-direction: column;
}
.name{
    color: grey;
    cursor: default;
    font-family: 'Slabo Regular', Helvetica, Arial;
}
.footer{
    border-top: 2px solid black;
    padding: 20px;
    text-align: center;
    color: grey;
}
.textt{
    padding-left: 20px;
    background-color: rgb(214, 214, 214);
    cursor: grab;
    display: flex;
    flex-direction: column;
}
.hreff{
    margin: 10px;
    position: fixed;
    bottom: 0;
}